.container {
    max-width: 600px;
    margin: 40px auto;
}

.title {
    font-size: 1.6em;
    margin-bottom: 0.8em;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: var(--primary-light);
    margin: 3em auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}
